# TikTok host to capture (username without @)
TIKTOK_HOST=mockhost

# ClickHouse connection string
CLICKHOUSE_CONN=Host=192.168.1.230;Port=8123;Database=chakal;User=default;Password=Chakal123!

# Log level (Debug, Information, Warning, Error, Critical)
LOG_LEVEL=Debug

# Enable debug mode which generates mock data
DEBUG_MODE=true

# Enable or disable MinIO storage for raw events
MINIO_STORAGE_AVAILABLE=true

# MinIO configuration for raw event archiving
S3_ENDPOINT=http://192.168.1.230:9100
S3_ACCESS_KEY=vFpdN5CJGjY5o0jPKVww
S3_SECRET_KEY=5KpII0ID5oOqFOmSR8G6rd7HJJNBFb9eD1Xb3dTB
S3_BUCKET=dev-chakal-raw 